.background {
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-btn,
.signup-btn {
  background-color: #555555;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px; /* Updated margin value */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #333333;
}